In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [60]:
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
df = pd.DataFrame.from_records(X.toarray(), columns=vectorizer.get_feature_names_out())
df.insert(0, "Document", corpus)
df

,Document,and,document,first,is,one,second,the,third,this
0,This is the first document.,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,This document is the second document.,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,And this is the third one.,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,Is this the first document?,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085